orchestra
target/release
target/debug
examples
logs
# IMPORTANT:
# This directory is built into a container image (see `docker/trading/dingir/Dockerfile`).
# Do not ignore source/manifests, otherwise Docker builds fail.
